{% extends 'uchet/base.html' %} {% block content %}
        {% if user.is_authenticated %}
           <div class="hi">Привет , {{ user }} ,
              {% if markets%}
                  твои магазины :
                  {% for i in markets%}
                    <h1><a href="{% url 'market_detail' id=i.id %}">{{i}}</a></h1>
                  {% endfor %}

              {% else %}
                у тебя нет магазинов
              {% endif %}

        {% else %}
            ne avtorizirovan
           </div>
        {% endif %}
{% endblock content %}
