 {% extends 'uchet/base.html' %} {% load staticfiles %} {% block content %}
<div class="market_data" data-market_id="{{ market.id }}"></div>
<input type="hidden" id="market_id" value="{{ market.id }}">

<div class="market">

    {% if market.created_date %}
    <div class="date">
        {{ market.created_date }}
    </div>
    {% endif %}
    <h1>{{ market.description|linebreaksbr }}</h1> {% if market.picture %}
    <p><img src={{market.picture.url }} align="left" alt="error" width="100" height="100" hspace="50" vspace="20" /></p>
    {% endif %}
    <div class="add-to-card-btn">
        <button class="btn btn-sm btn-danger" id="check">check
            </button>
    </div>
</div>
<div class="stuffs">
    {% for i in stuffs%}
    <p> {{ i.name }} цена : {{ i.price }} количество : {{ i.amount }} </p>
    {% endfor %}

</div>
<table id="submissions" border="1">
</table>

<script src={% static "js/libs/jquery-3.2.0.js" %}></script>
<script src={% static "js/sale.js" %}></script>
<script src={% static "js/get_sales.js" %}></script>
{% endblock %}


