{% extends 'uchet/base.html' %}{% block content %}  {% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div id="profile-card"
    <div class="well profile" >
<h2>{{ user.first_name }} {{ user.last_name }}</h2>
<p><strong>Логин пользователя: </strong>{{ user.username }}</p>
<p><strong>Зарегистрирован: </strong>{{ user.date_joined }}</p>
<p><strong>Последняя активность: </strong>{{ user.last_login }}</p>
<p><strong>E-mail: </strong>{{ user.email }}</p>
<p><strong>Вебсайт: </strong>{{ profile.website }}</p>
 <a title="Редактировать профиль" href="/profile__edit/" class="edit-profile"><span class="glyphicon glyphicon-pencil"></span>
 </a>
<div id="image_profile">
{% if profile.picture%}<img src={{profile.picture.url }} alt="user" class="img-profile img-circle"> {% endif %}
</div>
    </div>
{% endblock %}
