{% extends 'uchet/base.html' %} {% load staticfiles %} {% load bootstrap3 %}
{% block content %}


<body>
    <h1>Register </h1> {% if registered %} says: <strong>thank you for registering!</strong>
    <a href="/">Return to the homepage.</a><br /> {% else %}

    <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_field user_form.username show_label=false size='medium' %}
        {% bootstrap_field user_form.password show_label=false placeholder="Пароль" %}
        {% bootstrap_field user_form.email show_label=false  %}
        {% bootstrap_field profile_form.website show_label=false placeholder="Сайт" %}
        {% bootstrap_field profile_form.picture show_label=false placeholder="Аватар" %}

        <!-- Создаем кнопку для отправления данных формы. -->
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
</body>
{% endblock content %}