{% extends 'uchet/base.html' %} {% block content %}


<body>
    <h1>Register </h1> {% if registered %} says: <strong>thank you for registering!</strong>
    <a href="/">Return to the homepage.</a><br /> {% else %} says: <strong>register here!</strong><br />

    <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Выводим на экран каждую форму. Метод as_p помещает каждый элемент в абзац (тег <p>). Это гарантирует, что каждый элемент появится на новой строке, улучшая внешний вид формы. -->
        {{ user_form.as_p }} {{ profile_form.as_p }}

        <!-- Создаем кнопку для отправления данных формы. -->
        <input type="submit" name="submit" value="Complete Register" />
    </form>
    {% endif %}
</body>
{% endblock content %}
