{% extends 'Store/base.html' %} {% load staticfiles %} {% block content %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/control.css' %}">
<link rel="stylesheet" href="{% static 'css/libs/datepicker.min.css' %}">
<script src={% static "js/libs/jquery-3.2.0.js" %}></script>
<script src={% static "js/libs/datepicker.min.js" %}></script>
<script src={% static "js/TableSorter(asc,desc).js" %}></script>

{% if market_choose%}

<ul class="nav nav-pills nav-stacked" id="nav">
    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
    <li><a data-toggle="pill" href="#menu1">Товары</a></li>
    <li><a data-toggle="pill" href="#menu2">Продажи</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Some content.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Товары</h3>
        <div id="stuff_list">
            <input type="text" id="myInput" onkeyup="Search('myInput','stuff_table',1)" placeholder="Поиск по названию...">
            <a href="/stuffs/export/csv/" class="export_to_csv">Экспорт в CSV</a>
            <table id="stuff_table" border="1" cellpadding="5">
                <thead>
                    <tr>
                        <th>ID(Штрих-код)</th>
                        <th data-type="string">Название</th>
                        <th data-type="number">Цена</th>
                        <th data-type="string">Дата создания</th>
                        <th data-type="number">Количество на складе</th>
                        <th>Картинка</th>
                        <th>Редактировать</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in stuffs%}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.amount}}</td>
                        <td>{% if i.picture %}<img src='{{i.picture.url}}' align="center" alt="error" height="40" width="40" />{% endif %}
                            <td>
                                <a href="" class="glyphicon glyphicon-edit" data-stuff-id={{ i.id }}></a>
                            </td>
                            <td>
                                <a href="" class="glyphicon glyphicon-trash" data-stuff-id={{ i.id }}></a>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Продажи</h3>
        <div id="sale_list">
            <input type="text" id="SaleFilterInput" onkeyup="Search('SaleFilterInput','sale_table',0)" placeholder="Поиск по товару...">
            <a href="/stuffs/export/csv/" class="export_to_csv">Экспорт в CSV</a>
            <label for="date_from">От: </label><input id="date_from" type="text" class="datepicker-here" />
            <label for="date_to">До: </label><input id="date_to" type="text" class="datepicker-here" />
            <div id="dateclicks">
                <a href="#" class="date_click" data-range='today'>За сегодня</a>
                <a href="#" class="date_click" data-range='week'>За неделю</a>
                <a href="#" class="date_click" data-range='month'>За месяц</a>
                <a href="#" class="date_click" data-range='all_time'>За все время</a>
            </div>
            <table id="sale_table" border="1" cellpadding="5" data-market-created-date="2017-01-01"></table>
        </div>
        {% else %}
        <div class="hi">Магазины {{ user }} , {% if markets%} Выберите магазин : {% for i in markets%}
            <h1><a href="{% url 'store_control' id=i.id %}">{{i}}</a></h1> {% endfor %} {% else %} у вас нет магазинов {% endif %}
        </div>
        {% endif %}
        <script src={% static "js/filter_table.js" %}></script>
        <script src={% static "js/control.js" %}></script>
        {% endblock %}
