#myInput {
    margin: 5px;
    border-radius: 4px;
}

#stuff_list {
    width: 60%;
    border: 1px solid #6140f5;
    border-radius: 20px;
    margin: auto;
    padding: 1%;
}

.export_to_csv {
    float: right;
}

.form-control {
    width: 25%
}

#sel1 {}

#stuff_list #stuff_table {
    top: 3%;
    width: 60%;
    margin: auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}

th {
    background: #E4E4E4;
    text-align: center;
}

caption {
    font-style: italic;
    text-align: center;
    color: #547901;
}

#nav {
    width: 20%;
    float: left;
    color: #2aabd2;
}

table {
    text-align: center;
    border-collapse: separate;
    border: 1px solid #ddd;
    border-spacing: 10px;
    border-radius: 3px;
    background: #fdfdfd;
    font-size: 14px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #55a2f9;
    color: whitesmoke;
}
