body {
    font-family: 'Arial', 'sans-serif';
}

#profile-card {
    position: absolute;
    top: 33%;
    left: 33%;
}

.profile {
    min-height: 55px;
    display: inline-block;
    width: 550px;
    height: 300px;
    margin: auto;
}

figcaption.ratings {
    margin-top: 20px;
}

#image_profile {
    position: relative;
    bottom: 80%;
    left: 70%;
    width: auto;
}

.img-profile {
    width: 100px;
    height: 100px;
}

.edit-profile {
    font-size: 50px;
    position: relative;
    bottom: 10px;
}
