   .main {
    background-color: #f9f2af;
 padding: 20px;
-webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 border-bottom: 4px solid #ddd;
   }


    .menu a{
        position: relative;
        top: 105px;
    }

    .menu1 a{
        position: relative;
        top: 65px;
        left: 90px;
    }
    .hi {
        position: relative;
        top: 7%;
    }

    .form-down {
        position: relative;

    }


    .navba {
    padding-top: 40px;

    }

/* цвет фона и рамки навигационного меню */
    .navbar-default {
        background-color: #55a2f9;
        border-color: #55a2f9;
    }
/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand{
    color: #fffbfb;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d1ffed;
}

/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d1ffed;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ecf0f1;
    background-color: rgba(41, 121, 204, 0.66);
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #d1ffed;
    background-color: #4b93ff;
}





